# 忽略 Python 虚拟环境
.venv/
venv/
backend/venv/

# 忽略编译生成的文件
*.pyc
*.pyo
__pycache__/

# 忽略日志文件
*.log

# 忽略 PyCharm 配置
.idea/

data/

.env

# 忽略上传文件目录
backend/upload/

# Pre-commit
.pre-commit-config.yaml.bak

# Ruff 缓存
.ruff_cache/

# ESLint 缓存
.eslintcache
frontend/.eslintcache
